#root {
  --light: #fafafa;
  --dark: #272f32;
  --error: rgb(228, 46, 1);
  --spacing-one: calc(1rem * 0.5);
  --spacing-two: calc(1rem);
  display: flex;
  width: auto;
  min-height: 900px;
  min-width: 1024px;
}

* {
  box-sizing: border-box;
}

html,
body {
  min-height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'din-condensed', sans-serif;
  font-weight: 400;
  font-style: normal;
  line-height: 1.5;
  font-size: 16px;
  color: var(--dark);
  /* background-image: url('../public/images/pandapop-splatter.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size:cover; */
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'din-condensed', sans-serif;
  font-weight: 400;
  font-style: normal;
  margin: 5px 0;
  line-height: 1.25;
}

h1 {
  font-size: 2.25rem;
}

h2 {
  font-size: 75px;
  color: #ee3c96;
}

h3 {
  font-size: 1.75rem;
}

h4 {
  font-size: 1.5rem;
}

h5 {
  font-size: 1.25rem;
}

h6 {
  font-size: 1rem;
}

p {
  font-size: 1.1rem;
  margin-top: 0;
}

a {
  color: var(--tertiary);
  text-decoration: none;
  font-weight: bold;
}

.a-tag {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 10%;
  background-color: rgba(157, 241, 248, 0.24);
}

header a {
  text-decoration: none;
}

header ul {
  padding: 0;
}

#cards button {
  font-size: 16px;
  font-family: 'din-condensed', sans-serif;
  text-decoration: none;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 5px;
  border: none;
  outline: none;
  cursor: pointer;
  background-color: #f3b735;
}

button:hover {
  opacity: 0.8;
}

button[disabled] {
  cursor: default;
  opacity: 0.8;
}

img {
  max-width: 100%;
}

span[role='img'] {
  cursor: default;
}
#cards {
  font-family: 'din-condensed', sans-serif;
}
#cards p {
  font-family: 'din-condensed', sans-serif;
  text-align: center;
  text-decoration: none !important;
}

/*input {
  font-size: 1rem;
  padding: 0.25rem;
  border: 1px solid var(--dark);
  outline: none;
  border-radius: 3px;
  transition: box-shadow 0.2s;
}

input:focus {
  border: 1px solid var(--secondary);
  box-shadow: 0 0 .25rem rgba(0, 0, 0, .5);
}*/

.flex-row {
  display: flex;
  flex-wrap: wrap;
}

.space-between {
  justify-content: space-between;
}

.flex-end {
  justify-content: flex-end;
}

.mx-1 {
  margin-right: var(--spacing-one);
  margin-left: var(--spacing-one);
  text-wrap: nowrap;
}

.mx-2 {
  margin-right: var(--spacing-two);
  margin-left: var(--spacing-two);
}

.my-1 {
  margin-top: var(--spacing-one);
  margin-bottom: var(--spacing-one);
}

.my-2 {
  margin-top: var(--spacing-two);
  margin-bottom: var(--spacing-two);
}

.px-1 {
  padding-right: var(--spacing-one);
  padding-left: var(--spacing-one);
}

.px-2 {
  padding-right: var(--spacing-two);
  padding-left: var(--spacing-two);
}

.py-1 {
  padding-top: var(--spacing-one);
  padding-bottom: var(--spacing-one);
}

.py-2 {
  padding-top: var(--spacing-two);
  padding-bottom: var(--spacing-two);
}

.card {
  width: 25%;
  text-align: center;
}

.error-text {
  color: var(--error);
}

.img-container {
  width: 100%;
  overflow: hidden;
}

.productImage {
  width: 100%; /* Ensures the image fits within the container */
  transition: transform 0.3s ease-in-out; /* Smooth transition effect */
}
.productImage:hover {
  transform: scale(1.2); /* Scale the image to 1.2 times its original size */
}

@media screen and (max-width: 768px) {
  .card {
    width: 100%;
  }
}
