#pwd2{
	border-radius: 5px;
	border-color: #58aeb8;
	border-width: 2px;
	background-color: #d5eef3;
}

#email3 {
	border-radius: 5px;
	border-color: #58aeb8;
	border-width: 2px;
	background-color: #d5eef3;
}